<% if(locals.user && locals.user.role ==='Admin') {%>
  <div class="container-fluid p-4">

    <div class="w-100 fw-semibold text-secondary">
      <span class="fw-bold text-dark">Admin: </span> 
      <%= user.name %> | <%= user.email %>
    </div>

    <hr>

    <h1 class="mx-auto text-center">All employees</h1>

    <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
      <% for (user of employee) {%>
      <div class="card shadow m-2" style="background-color: #F8F0E5; width: 18rem">
        <div class="card-body">
          <img
            src="/image/manager.png"
            alt=""
            style="width: 40px"
          />
          <h5 class="card-title"><%= user.name %></h5>
          <h6 class="card-subtitle mb-2 text-secondary"><%= user.email %></h6>
          <div class="d-flex flex-wrap justify-content-between">
            
            <!-- asign review button -->
            <a
              href=""
              class="btn btn-warning mb-1 my-1 shadow"
              style="width: 100%"
              data-bs-toggle="modal"
              data-bs-target="#user<%= user.id %>"
              data-bs-whatever="@mdo"
              ><i class="fa-solid fa-file"></i> Assign review</a
            >

            <!-- delete button -->
            <a
              href="/dashboard/admin/delete/?id=<%= user._id %>"
              class="btn btn-danger mb-1 shadow"
              style="width: 48%"
              ><i class="fa-solid fa-user-minus"></i> Delete</a
            >
            <!-- edit button -->
            <a
              href="/dashboard/admin/updateForm/?id=<%= user._id %>"
              class="btn btn-primary mb-1 shadow"
              style="width: 48%"
              ><i class="fa-solid fa-user-pen"></i> Edit</a
            >
  
            <!-- Modal for assigning review -->
            <div
              class="modal fade"
              id="user<%= user.id %>"
              tabindex="-1"
              aria-labelledby="<%= user.id %>"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Assign review
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form
                      action="/dashboard/admin/assignReview/?id=<%= user._id %>"
                      method="POST"
                    >
                    <div class="mb-3">
                      <label class="col-form-label">Reviewer:</label>
                      <input type="text" class="form-control" value="<%= user.email %>" disabled>
                    </div>
  
                      <div class="mb-3">
                        <label class="col-form-label"
                          >Recipient:</label
                        >
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          name="recipient"
                        >
                          <% for (recipient of employee) {%>
                          <!-- filter the current user from the list of recipient                -->
                          <% if(recipient.email !=user.email ){ %>
                          <option value="<%= recipient._id %>">
                            <%= recipient.email %>
                          </option>
                          } <%} %> <%} %>
                        </select>
                      </div>
  
                      <div class="d-flex justify-content-end">
                        <button
                          type="button"
                          class="btn btn-danger mx-2"
                          data-bs-dismiss="modal"
                        >
                          Cancel
                        </button>
                        <button type="" class="btn btn-primary mx-2">
                          Assign
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <%} %>
    </div>
  </div>
  <%} %>
  