<h1 class="text-center">
    Admin dashboard
</h1>

<div class="w-100 px-4 d-flex">

    <% if(locals.user) { %>
        <div>
            <p>Admin: <%= user.name %></p>
            <p>Email: <%= user.email %></p>
        </div>
    <% } %>
</div>

<div class="w-100 h-100 d-flex p-3 justify-content-start flex-wrap">

    <% for (let i of employee) { %>
        <div class="card mb-3 mx-2 bg-secondary-subtle shadow" style="width: 18rem;">
            <div class="card-body">

                <img src="/image/manager.png" alt="profile" style="width: 30px; height: 30px;"/>
                
                <h5 class="card-title"><%= i.name %></h5>
                <p class="card-text">Role: <%= i.role %>
                
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" 
                    data-bs-target="#exampleModal" style="width: 100%;">Assign Review</button>
                
                <div class="w-100 d-flex justify-content-between">
                    <a href="/dashboard/admin/delete/?id=<%= i._id %>" class="btn btn-danger shadow-sm" style="width: 45%;">Delete</a>
                    <a href="/dashboard/admin/updateForm/?id=<%= i._id %>" class="btn btn-info shadow-sm" style="width: 45%;">Update</a>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Review</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/dashboard/admin/assignReview/?id=<%= i._id %>" id="review-form">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Reviewer:</label>
                      <input type="text" class="form-control" id="recipient-name" value="<%= i.email %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="recipient" class="col-form-label">Recipient:</label>
                        <select class="form-select" name="recipient" aria-label="Default select example">

                            <% for(let j of employee) { %>

                                <% if ( j._id.toString() !== i._id.toString() ) { %>

                                    <option value="<%= j._id %>" name="recipient" ><%= j.email %></option>

                                <% } %>

                            <% } %>

                        </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button form="review-form" type="submit" class="btn btn-primary">Assign Review</button>
                </div>
              </div>
            </div>
          </div>
    <% } %>
</div>