<h1 class="text-center">
    Admin dashboard
</h1>

<div class="w-100 px-4 d-flex">

    <% if(locals.user) { %>
        <div>
            <p>Admin: <%= user.name %></p>
            <p>Email: <%= user.email %></p>
        </div>
    <% } %>
</div>

<div class="w-100 h-100 d-flex p-3 justify-content-start flex-wrap">

    <% for (let i of employee) { %>
        <div class="card mb-3 mx-2 bg-secondary-subtle shadow" style="width: 18rem;">
            <div class="card-body">

                <img src="/image/manager.png" alt="profile" style="width: 30px; height: 30px;"/>
                
                <h5 class="card-title"><%= i.name %></h5>
                <p class="card-text">Role: <%= i.role %>
                
                <a href="#" class="btn btn-warning shadow-sm" style="width: 100%;">Assign Review</a>
                
                <div class="w-100 d-flex justify-content-between">
                    <a href="/dashboard/admin/delete/?id=<%= i._id %>" class="btn btn-danger shadow-sm" style="width: 45%;">Delete</a>
                    <a href="/dashboard/admin/updateForm/?id=<%= i._id %>" class="btn btn-info shadow-sm" style="width: 45%;">Update</a>
                </div>
            </div>
        </div>
    <% } %>
</div>