<h1 class="text-center">
    Employee dashboard
</h1>

<div class="w-100 px-5 my-2">

    <% if(locals.user) { %>
        <span>Employee Name: <%= user.name %></span>
        
        <span class="float-end">Employee Email: <%= user.email %></span>
    <% } %>

</div>
 
<div class="w-100 d-flex px-5 mt-2 justify-content-between">

    <div class="w-50">
        <h2 class="text-center my-2 ">
            Reviews Assigned to you:
        </h2>
        
        <div class="w-100 d-flex flex-col justify-content-center mt-2 flex-wrap">
            <% for(let i of assignReviews ) { %>

                <div class="border p-2 w-50 rounded shadow m-3">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Review</h1>
                        </div>
                        <div class="modal-body">
                          <form method="POST" action="/dashboard/employee/addReview/?id=<%= i._id %>" id="review-form">
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Recipient:</label>
                              <input type="text" class="form-control" id="recipient-name" value="<%= i.email %>" disabled>
                            </div>
                            <div class="mb-3">
                              <label for="message-text" class="col-form-label">Message:</label>
                              <textarea class="form-control" id="message-text" name="comment" required></textarea>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button form="review-form" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
            <% } %>
    
        </div>

        
    </div>


    <div class="w-50 d-flex flex-col flex-wrap justify-content-center">
        <h2 class="text-center my-2">
            Feedback by others for you
        </h2>

        <% for( j of feedbacks ) { %>

          <div class="card w-50">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><%= j.comment %></p>
                <footer class="blockquote-footer"><%= j.reviewer.name %></footer>
              </blockquote>
            </div>
          </div>
        
        <% } %>
        
    </div>

</div>